.itinerary-section{
    grid-column:2/3;
    padding:18px 0px;
}

.grid{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type:none; 
    gap:24px;  
    width:100%;
    
}

.day-section{
    padding:18px;
    background:red;
    list-style-type:none; 
}


.add-tasks-button{
    border:none;
    padding:4px 8px;
    cursor:pointer;
    font-size:9px;
}

.add-task-form{
    display:flex; 
    flex-direction:column;
    gap:8px;
}